html{
  height: 100%;
  overflow-x: hidden;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container  {
  width: 1140px;
  margin: 0 auto;
}

.main-content {
  flex: 1 0 auto;
  margin-top: 20px;
}

header {
  flex: 0 0 auto;
}

.flex {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.box_header {
  margin-top: 20px;
  background: rgb(234, 216, 216);
  height: 100px;
  border-radius: 7px;
}


.flex1 {
  display: flex;
  height: 100px;
  margin-bottom: 20px;
}

.ava {
  display: flex;
  width: 20%;
  height: 100%;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.ava img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.name{
  background-color: salmon;
  width: 60%;
  border-radius: 7px;
}

.social {
  width: 20%;
  background-color:blueviolet;
  border-radius: 7px;
}

.social ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.social li {
  list-style-type: none;
}

.flex2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.banner {
  background: rgb(234, 216, 216);
  width: 49%;
  height: 140px;
  border-radius: 7px;
  margin-bottom: 20px;
}

button {
  border: none;
  background:  rgb(118, 118, 235);
  color: #fff;
  border-radius: 5px;
  height: 20px;
  width: 170px;
  cursor: pointer;
}

footer {
  background: #333;
  flex-shrink: 0;
  color:yellow;
  height: 70px;
  padding: 0;
  width: 100%;
  flex: 0 0 auto;
  margin-top: 5%;
}

/* media */

@media screen and (max-width: 768px) {
  /* .flex2 {
    flex-direction: column;
  } */

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .flex2 
    {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    button {
      width: auto;
    }
  }