html{
  height: 100%;
  overflow-x: hidden;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container  {
  width: 1140px;
  margin: 0 auto;
}

.main-content {
  flex: 1 0 auto;
  margin-top: 20px;
}

header {
  flex: 0 0 auto;
}

.flex {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.box_header {
  background-color:#dddddd;
  margin-top: 20px;
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
  height: 100px;
} 

/* .box_header img {
  border-radius: 7px;
} */


.flex1 {
  display: flex;
  height: 100px;
  margin-bottom: 20px;
}

.ava {
  display: flex;
  width: 20%;
  height: 100%;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.ava img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.name{
  background-color: salmon;
  width: 60%;
  height: 100%;
  border-radius: 7px;
  line-height: 80%;
}

.social {
  width: 20%;
  background-color:blueviolet;
  border-radius: 7px;
}

.social ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  list-style-type: none;
}

.social img {
height: 35px;
}

.social li{
  padding-left: 5px;
}

.flex2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.banner {
  background: #dddddd;
  width: 49%;
  height: 140px;
  border-radius: 25px;
  margin-bottom: 20px;
}

button {
  display: flex;
  border: none;
  background:  rgb(118, 118, 235);
  color: #fff;
  border-radius: 5px;
  width: 170px;
  cursor: pointer;
}

footer {
  background: #333;
  flex-shrink: 0;
  color:yellow;
  height: 70px;
  padding: 0;
  width: 100%;
  flex: 0 0 auto;
  margin-top: 5%;
}


.social-footer ul {
  padding: 0;
  margin: 17.5px;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social-footer li{
  padding-left: 5px;
}

.social-footer img {
height: 35px;
}
/* media */

@media screen and (max-width: 768px) {
  /* .flex2 {
    flex-direction: column;
  } */

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .flex2 
    {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    button {
      width: auto;
    }
  }